.flcontent {
    padding: 60px 0;
    background-color: #043873;
    /* color: #FFFFFF; */
}

.leftSide-Section {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    text-align: center;

}








