.pricing-section {
  /* background: pink; */
  text-align: center;
  padding: 100px 0;
}

.tittle {
  font-size: 40px;
  font-weight: bold;
}

.subtittle {
  color: gray;
  padding: 15px 0 50px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 30px;
  width: 250px;
  text-align: left;
  border: 1px solid #ffe492;
  transition: 0.3s;
}

.card h1 {
  margin: 10px 0;
}

.card ul {
  list-style: none;
  padding: 0;
}

.card ul li {
  font-size: 14px;
  margin: 10px 0;
}

.card-active {
  background: #0a3d91;
  color: white;
  transition: scale(1.05);
  padding: 30px 60px;
  border-radius: 12px;
  text-align: left;
  cursor: pointer;
}

.card-active ul li {
  color: #ddd;
  font-size: 14px;
  list-style: none;
  margin: 10px 0;
  
}

.bttn {
  border: 1px solid #ffe492;
  border-radius: 10px;
  padding: 10px 10px;
}


.bttn-outlet {
    background-color: #4F9CF9;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;

}


.card-active {
  transition: transform 0.3s ease;
}

.card-active:hover {
  transform: scale(1.08);
}































