.main-content {
    width: 100%;
    display: flex;
    padding: 60px 0;
    justify-content: center;
    align-items: center;

}


/* .container {
    width: 80%;
} */

.headdd{
    text-align: center;
    font-size:  32px;
    margin-bottom: 30px ;
}


.logo-Img  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    flex-wrap: wrap;
    
}

.logo-Img img {
    width: 200px;
    height: auto;
    cursor: pointer;
}

.logo-Img img:hover {
    transform: scale(1.1);
}

